


<a href="#" class="like" rel='nofollow'>
  {{#if userLike}}
    {{t "stream.unlike"}}
  {{else}}
    {{t "stream.like"}}
  {{/if}}
</a>
·

{{#if userCanReshare}}
  <a href="#" class="reshare" rel='nofollow'>
    {{t "stream.reshare"}}
  </a>
  ·
{{/if}}

<a href="#" class="focus_comment_textarea" rel="nofollow">
  {{t "stream.comment"}}
</a>
